/* Estilos para o corpo (body) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho (header) */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para as seções (sections) */
section {
    padding: 40px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para o rodapé (footer) */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
